{% load static %}
<!DOCTYPE html>
<html>
    <!-- Latest compiled and minified CSS -->
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

       <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
      <script type="text/javascript" src="{% static 'credentials.js' %}"></script>
<style>

body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>


  <body class="w3-black">
        <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
          <!-- Avatar image in top left corner -->
          <!--<img src="/w3images/avatar_smoke.jpg" style="width:100%">-->
            <a href="{% url 'base' %}" class="w3-bar-item w3-button w3-padding-large w3-black">
              <i class="fa fa-home w3-xxlarge"></i>
              <p>HOME</p>
               </a>

               <a href="{% url 'basic_app:user_login' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                 <i class="fa fa-user w3-xxlarge"></i>
                 <p>LOGIN</p>
               </a>
               <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                 <i class="fa fa-envelope w3-xxlarge"></i>
                 <p>CONTACT</p>
               </a>
           </nav>




      <div class="headerBar" center>
            <!--  <div class="user-photo"><img src="Images/ana.JPG"></div>-->
              <p class="title">BosomBuddy</p>
      </div>

      <div class="chatbox" center>
          <div class="chatlogs">
              <div class="chat friend" id="loadingGif" style="display: none;">
                  <div class="gif"><img src="{% static 'loading.gif' %}"></div>
              </div>
          </div>
      </div>
      <div class="chat-form" center >
          <div id="inputDiv" style="width:100%;">
              <!--<div id="buttonDiv"></div>-->
              <textarea class="input" placeholder="Ask something..." rows="1" data-min-rows='1' style="width:100%"></textarea>
          </div>
          <!--<div id="chat-form-buttons" style="margin-left:350px;">-->
          </div>
      </div>


      <script type="text/javascript" src="{% static 'index.js' %}"></script>
      {% block body_block %}
      {% endblock %}
  </body>
  </html>
